<?xml version="1.0"?>
<launch>

  <!-- Launch separately -->
  <!-- include file="$(find yumi_demo_launch)/launch/yumi_online_hiqp.launch"/ -->

  <!-- launch the demo_grasping node -->
  <node name="demo_grasping" pkg="demo_grasping" type="demo_grasping" respawn="false" output="screen" >
     <param name="with_gazebo" type="bool" value="false"/>
     <param name="bag_path" type="string" value="$(find demo_grasping)/data"/>

     <!-- prototype grasp frame and pose -->
     <param name="grasp_req_frame" value="world"/>
     <param name="grasp_req_radius" value="0.03"/>
     <param name="grasp_req_height" value="0.1"/>
     <param name="grasp_req_px" value="0.45"/>
     <param name="grasp_req_py" value="0.0"/>
     <param name="grasp_req_pz" value="0.12"/>
     <param name="grasp_req_ox" value="0"/>
     <param name="grasp_req_oy" value="0"/>
     <param name="grasp_req_oz" value="0"/>
     <param name="grasp_req_ow" value="1"/>
     
     <remap from="/get_grasp_interval" to="/gplanner/plan_grasp"/>
     <remap from="/reset_map" to="/gplanner/clear_map"/>
     <remap from="/close_gripper" to="/yumi/yumi_gripper/do_grasp"/>
     <remap from="/open_gripper" to="/yumi/yumi_gripper/release_grasp"/>

  </node>
  
  <!-- Show in Rviz   -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find demo_grasping)/launch/demo.rviz"/>


</launch>
