<?xml version="1.0"?>
<launch>

  <include file="$(find hiqp_demos)/launch/yumi_simulation.launch"/>

  <!-- launch the demo_grasping node -->
  <node name="demo_grasping" pkg="demo_grasping" type="demo_grasping" respawn="false" output="screen" >
     <param name="with_gazebo" type="bool" value="true"/>

     <!-- prototype grasp frame and pose -->
     <param name="grasp_req_frame" value="world"/>
     <param name="grasp_req_radius" value="0.05"/>
     <param name="grasp_req_height" value="0.15"/>
     <param name="grasp_req_px" value="-0.04"/>
     <param name="grasp_req_py" value="0.68"/>
     <param name="grasp_req_pz" value="0.07"/>
     <param name="grasp_req_ox" value="0"/>
     <param name="grasp_req_oy" value="0"/>
     <param name="grasp_req_oz" value="0"/>
     <param name="grasp_req_ow" value="1"/>
     
     <remap from="/get_grasp_interval" to="/gplanner/plan_grasp"/>
     <remap from="/set_physics_properties" to="/gazebo/set_physics_properties"/>
     <remap from="/reset_map" to="/gplanner/clear_map"/>

  </node>
</launch>
